---
layout: page
---

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>

<h1>About me</h1>

<div>I am currently a research fellow at <a href="https://kapsarc.org/">KAPSARC</a>, which, located in Riyadh, Saudi Arabia, is a non-profit institution for independent research into global energy economics. 
<p> <p>
 
I hold a Habilitation to supervise research (HDR) in Economics from <a href="https://www.parisnanterre.fr/">University of Paris Nanterre</a>, a Ph.D. in Economics from <a href="https://www.pantheonsorbonne.fr/">University
of Paris 1 Panthéon-Sorbonne</a>, an M.A. in Economic Analysis and Modeling from University of Paris 1 Panthéon-Sorbonne and <a href="https://www.centralesupelec.fr/">École Centrale Paris</a>,
and a B.A. in Economics from <a href="https://www.gsu.edu.tr/">Galatasaray University</a>.
<p> <p>

I began my career as a researcher at Galatasaray University before moving
to the University of Paris Nanterre where I worked as an associate professor of economics and taught courses such as econometrics, energy economics, and environmental economics. 
I have also been a researcher at <a href="https://economix.fr/">EconomiX-CNRS</a> and an external researcher attached to <a href="http://giam.gsu.edu.tr/">Galatasaray University Economic Research Center (GIAM)</a>. 
<p> <p>   
  
My current research focuses mainly on developing economic frameworks to provide insights into energy policymaking in oil-producing countries. 
My previous research has been published in general-interest economics journals (e.g., Applied Economics, Journal of Comparative Economics and Macroeconomic Dynamics), 
as well as journals on energy economics (e.g., Energy Economics, Energy Policy and The Energy Journal).
</div>


