---
layout: page
---

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>

<h1>About me</h1>

<div>I have been a research fellow at <a href="https://kapsarc.org/">KAPSARC</a> since December 2017. I began my career as a researcher at Galatasaray University before moving
to the University of Paris Nanterre where I worked as an associate professor of economics. I have also been a researcher at EconomiX-CNRS
and an external researcher attached to Galatasaray University Economic Research Center (GIAM).

I hold a Habilitation to supervise research (HDR) in Economics from University of Paris Nanterre, a Ph.D. in Economics from University
of Paris 1 Panthéon-Sorbonne, an M.A. in Economic Analysis and Modeling from University of Paris 1 Panthéon-Sorbonne and École Centrale Paris,
and a B.A. in Economics from Galatasaray University.</div>


