---
layout: page
---
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
<title>About me</title>
</style> 
<!--Image container start-->
<div class="box">
  <img src="assets/img/20231111-APPAM-Headshots-700ss.jpg" style="width: 50%; height: 50%; float: left; 
  margin: 5px;">
</div>
<!--Image container end-->
    
<!--Text container start-->

<div>
<p> Greetings! With nearly 20 years of experience in the field, I specialize in energy economics and policy. I hold a Ph.D. in Economics from the <a href="https://www.pantheonsorbonne.fr/">University of Paris 1 Panthéon-Sorbonne</a> and an M.A. in Economic Analysis and Modeling from the <a href="https://www.pantheonsorbonne.fr/">University of Paris 1 Panthéon-Sorbonne</a> and <a href="https://www.centralesupelec.fr/">École Centrale Paris</a>. I also hold an HDR degree, which is a French accreditation to supervise research. 
<p> <p>
  
Since December 2017, I’ve been contributing as a fellow at <a href="https://kapsarc.org/">KAPSARC</a> in Riyadh, Saudi Arabia. My primary focus is on developing economic frameworks that offer insights into energy policymaking, particularly in oil-producing countries. My work has been published in general-interest journals such as <i>Applied Economics</i>, <i>Journal of Comparative Economics</i>, and <i>Macroeconomic Dynamics</i>, as well as top-tier field journals including <i>Energy Economics</i>, <i>Energy Journal</i>, and <i>Energy Policy</i>.
<p> <p>
  
In addition to my research activities, I actively engage as an advisor to Saudi Arabia’s Ministry of Energy, contributing to strategic decision-making and policy formulation in the energy sector. Noteworthy, I served as a T20 task force advisor during the Saudi G20 Presidency in 2020.
<p> <p>
  
Before joining <a href="https://kapsarc.org/">KAPSARC</a>, I held the position of associate professor of economics at the <a href="https://www.parisnanterre.fr/">University of Paris Nanterre</a>, where I taught courses in econometrics, energy economics, and environmental economics. Simultaneously, I conducted research at <a href="https://economix.fr/">EconomiX-CNRS</a>, participating in projects funded by organizations such as the European Renewable Energy Council and the French Energy Council. Earlier in my career, I worked as a researcher at the <a href="http://giam.gsu.edu.tr/">Galatasaray University Economic Research Center (GIAM)</a>.

</div>
</body>
</html>




